<div class="row mb-3">

  <div class="col-12 col-sm-12 col-md-12 col-lg-12">

    <button class="btn btn-sm btn-primary "
            (click)="_create()">
      <i class="fas  fa-plus-circle "></i>
      <span class="px-2 texto-primary">Crear</span>
    </button>
  </div>

</div>

<div class="table-responsive fixTableHead" >
  <table class="table table-hover table-bordered table-sm mb-0 " >
    <thead>
    <tr>
      <th scope="col">Autor</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Titulo</th>
      <th class="" ></th>
      <th class="" ></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let n of proyectoArticulos">
      <td>{{ n.author }}</td>
      <td>{{ n.description}}</td>
      <td>{{ n.title }}</td>
      <td class="text-center">
        <a class="btn btn-sm btn-light border-app" (click)="_edit(n)"
           placement="bottom"   ngbTooltip="Editar">
          <i class="fas fa-edit text-info"></i>
        </a>

      </td>
      <td class="text-center">
        <a class="btn btn-sm btn-light border-app" (click)="_eliminar(n)"
           placement="bottom"   ngbTooltip="Eliminar">
          <i class="fas fa-trash text-danger"></i>
        </a>

      </td>
    </tr>

    <tr *ngIf="proyectoArticulos?.length === 0" >
      <td colspan="99" class="text-center">No hay registros</td>
    </tr>
    </tbody>
  </table>

</div>
