@import "src/scss/variables";

.header {
  height: $header-size;
  background-color: $panel-color;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  &-content, &-content__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    &__logo__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: $navigation-size;
    }
  }

  &-content__complete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    &__icon{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__icon a, &__icon_user {
      margin-right:.8rem;
      font-size: 1rem;
    }
  }
}

.hover{
  padding: 0 .4rem;
  transition: all $transition-time;
}
.hover:hover{
  background-color: rgba(155, 155, 155, 0.25);
  border-radius: $border-radius-app;
}


@media (max-width: $breakpoint-tablet ) {
  .header {
    &-content, &-content__logo{
      width: 100%;
      &__logo__title{
        width: 100%;
      }
    }
  }

  .hover{
    margin-right: 0.5rem !important;
  }
}
