$primary-color-dark: #111d46;/* color primario  oscuro*/
$primary-color: #194b71;/* color primario claro */
$secondary-color: #0069d9;/* color secundario*/
$color-icono-oscuro: #333333;/* icono color negro */
$color-icono-white: #fff;/* icono color blanco */
$border-color: #d3d3d3;/* color borders del aplicativo */
$primary-letter-size: 0.9rem; /* tamaño de letra primario*/
$secondary-letter-size: .7rem; /* tamaño de letra secundario*/

$color-text: #dad0d0;
$color-text-secondary: #757575;

$shade-color: rgba(238, 237, 237, 0.2);/* color card etc  */
$shade-color-sombra: #cdcdcd;/* color sombra  */
$panel-color: rgba(255,255,255,1);/* color panel  */
$border-radius-app: .5rem;

$header-size: 50px; /*tamaño de la navegacion, sidebar*/
$navigation-size: 170px; /*tamaño de la navegacion, sidebar*/
$navigation-a-padding: 0.5rem; /*tamaño de espacio en lo link a*/
$transition-time: 300ms;

/*mediaquery*/
$extra-large: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-tel: 425px;
$breakpoint-tel-medium: 350px;
$breakpoint-tel-min: 320px;



$tercer-letter-size: .8rem; /* tamaño de letra secundario*/
$navigation-a-padding-x: 0.5rem; /*tamaño de espacio en lo link a*/
$navigation-a-padding-y: 0.5rem ; /*tamaño de espacio en lo link a*/
